
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 10px 10px;
    transform: translate(0%, -290%);
}

.box-display {
    position: relative;
    display: inline-grid;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 200px;
}


.p{
    font-weight: 300;
    color: #111;

}
/*.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url(../img/bg-img/background.jpg)center/cover no-repeat;
    
}*/