.col-centered
{
	float: none;
	margin: 0 auto;
}

/* to center text and other elements */
.text-center
{
	text-align: center;
}


/* div that wraps the main rendering canvas */

/* show those cubes that symbolize transparent background */
.transparent-background 
{
    background-image: url("transparent_back.png");
    background-repeat: repeat;
	/*background-scale: 2 2;*/
}


.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    /*display: inline-block;*/
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 300px;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 10px 10px;
    transform: translate(0%, -290%);
}

.box-display {
    position: relative;
    display: inline-grid;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 200px;
}

