.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 10px 10px;
    transform: translate(0%, -290%);
}

.box-display {
    position: relative;
    display: inline-grid;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 200px;
}

