<!DOCTYPE html>
<html lang="en">
    {% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Flexpack-About Us</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">

  </head>
<style>
  .page-heading {
	background-image: url("{% static 'images/bg2.jpg'%}");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	text-align: center;
	padding: 230px 0px 180px 0px;
}

.page-heading h1 {
	color:black;
	font-size: 44px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.page-heading p {
	color: #fff;
	letter-spacing: 0.5px;
}
.page-heading p a {
	color: #fff;
	font-size: 15px;
}
.page-heading p a {
	margin-right: 5px;
}
.page-heading p span {
	color: #fff;
	opacity: 0.75;
	margin-left: 5px;
}
</style>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>FlexPack<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/app/home/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/about/">About Us</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/app/contact/">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/boxdesign/">Design a box</a>
              </li>
              <li class="nav-item" id="saved_design">
                <a class="nav-link" href="/app/saveddesign/">Saved Design</a>
              </li> 
            </ul>
          </div>
          <div class="functional-buttons" id="login">
            <ul>
              <li><a href="/app/login/">Log In</a></li>
            </ul>
          </div>
          <div class="functional-buttons" id="signup">
            <ul>
              <li><a href="/app/signup/">Sign Up</a></li>
            </ul>
          </div>
          <div class="functional-buttons" id="logout">
            <ul>
              <li><a href="/app/logout/">Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <p><a href="/app/home/">Home</a> / <span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- About Us Starts Here -->
    <div class="about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="{%static 'images/box5.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <span>About Us</span>
                <h2>Background of our company</h2>
                <p>They say good things come in small packages. At Packlane, we believe great things come in custom packages, whether they’re small cartons, large printed shipping boxes, or anything in between. With a variety of shapes, colors, materials, and sizes, we give you the tools to create something exciting on the outside, thus exciting your customers about what’s on the inside.

                  As the only company that provides a custom design lab, live preview, and instant quote, we not only give you the freedom to unpack your creativity and develop your own design, but we also help you do it efficiently. And if you’re having trouble, we’re here to assist with anything from design to technical support.</p>
              </div>
              <div id='tabs'>
                  <ul>
                    <li><a href='#tabs-1'>Our History</a></li>
                    <li><a href='#tabs-2'>Why Us?</a></li>
                   
                  </ul>
                  <section class='tabs-content'>
                    <article id='tabs-1'>
                      <p>FlexPack, a leading socially responsible online printing, marketing and technology firm, has established itself as a major player in the industry with its distinct vision and clear approach to helping small businesses grow. It serves thousands of on-demand business printing and graphic printing orders online daily, using high-quality press printing and a robust yet simple and easy-to-use online ordering system, resulting in high-end printing services and reliable color printing at discount printing costs.

                        With its signature easy-to-use website interface, FlexPack has earned customer loyalty by offering more customizable offset printing, digital printing and large format printing options than other online printers. The company is popular for its Free File Review, a complimentary proofing service which requires no upfront payment. UPrinting.com also offers convenient marketing support such as print design services, custom online printing quotes and direct mailing to help the small or medium-sized business grow.
                        
                        FlexPack is committed to social responsibility and eco-friendly printing initiatives that support non-profit organizations and environmental sustainability.</article>
                    <article id='tabs-2'>
                      <p>With its signature easy-to-use website interface, FlexPack has earned customer 
                        loyalty by offering more customizable offset printing, digital printing and large 
                        format printing options than other online printers. The company is popular for its
                         Free File Review, a complimentary proofing service which requires no upfront payment.
                          FlexPack also offers convenient marketing support such as print design services, 
                          custom online printing quotes and direct mailing to help the small or medium-sized 
                          business grow.</article>
                   
                  </section>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Ends Here -->


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
             	<p> Custom packaging can turn your brand into the total package with full customization, instant quoting, and fats turnarounds.</p>
            
            </div>
          </div>
          
         
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Useful Links</h2>
              </div>
              <ul class="footer-list">
                <li><a href="/app/home/">Home</a></li>

                <li><a href="/app/contact/">Customer Support</a></li>
                <li><a href="/app/login/">Login</a></li>
                <li><a href="/app/about/">About us</a></li>
                <li><a href="/app/saveddesign/">Saved Design</a></li>
                <li><a href="/app/boxdesign/">Design a box</a></li>




              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">079 4007 0170</a></li>
                <li>Email: <a href="#">flexpack@gmail.com</a></li>
                <li>Support: <a href="#">support@flexpack.com</a></li>
                <li>Website: <a href="#">www.flexpack.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Flexpack</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

     <!-- Bootstrap core JavaScript -->
     <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>
 
     <!-- Additional Scripts -->
     <script src="{% static 'assets/js/custom.js'%}"></script>
     <script src="{% static 'assets/js/owl.js'%}"></script>
     <script src="{% static 'assets/js/accordions.js'%}"></script>
   

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                   
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>
    <script src="{%static 'js/validate2.js' %}"></script>

  </body>
</html>