<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Flexpack</title>

    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">
    <!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}"/>

	<link rel="stylesheet" href="{% static 'css/style1.css'%}"/>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
	  
	</style>
</head>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><h2>FlexPack<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/home/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/about/">About Us</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/app/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/boxdesign/">Design a box</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/saveddesign/">Saved Design</a>
            </li>
            <li class="nav-item" id="saved_design">
              <a class="nav-link" href="/app/profile/">Profile</a>
            </li>
         
          </ul>
        </div>
        <div class="functional-buttons" display="none">
          <ul>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons" display="none">
          <ul>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons" display="none">
          <ul>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons">
          <ul>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Design a Box</h1>
            <p><a href="/app/home/">Home</a> / <span>Design a Box</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
        <div style="position:absolute; top:600px; left:150px; z-index:3 ">
          <select class="form-control"  style="width:30vw" id="textures"> 
            <option>Top</option>
            <option>Left</option>
            <option>Right</option>
            <option>Front</option>
            <option>Back</option>
            <option>Bottom</option>
          </select>
         </div> 
       <div id="canvas-container" style="border:1px solid;position: absolute; color:black;  top:650px; left:150px; z-index:3 #000000; height: 30vw; width : 30vw;" class="col-xl-6 canvas-contianer transparent-background"></div>

			</div>
      <div class="row">
				<div class="col-lg-6">
					<br>
					<div class="product-thumbs" >
						<div class="product-thumbs-track">
						
              </div>
		
							
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title">Design a Box</h2>
					<h3 class="p-price">Rs.<span id="unit_price"></span></h3>
					
					<div class="fw-size-choose">
						<p>Material</p>
						<div class="sc-item">
							<input type="radio" name="sc">
							<label>Kraft</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" >
							<label>Dreamcoat</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc"  checked="">
							<label >White</label>
						</div>
					</div>
					
					<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<input type="radio" name="sc">
							<label onclick="changeSize(400,400,400);">4" x 4" x 4"</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" >
							<label onclick="changeSize(600,600,400);">6" x 6" x 4"</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc"  checked="">
							<label onclick="changeSize(700,600,400);">7" x 6" x 4"</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" >
							<label onclick="changeSize(800,500,400);">8" x 5" x 4"</label>
						</div>
						<div class="sc-item disable">
							<input type="radio" name="sc"  disabled>
							<label onclick="changeSize(900,600,400);">9" x 6" x 4"</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" >
							<label onclick="changeSize(900,800,400);">9" x 8" x 4"</label>
						</div>
					</div>
										
					<div class="quantity">
						<p>Quantity</p>
						<span class="qtybtn">-</span>
                        <div class="pro-qty"><input type="text" value="1"></div>
						<span class="qtybtn">+</span>
                    </div>
					<br>
					
				
				
					<div class="popup" id="popup-1">
						<div class="content">
						 <div class="close-btn" onclick="togglePopup()">
						  ×</div>
						  
					 <h1></h1> 
						
						 <button onclick="Addtext()"  >Add Text</button>&emsp;
				
						 <div id="text-controls">
							 <select id="font-family">
							   <option value="arial">Arial</option>
							   <option value="HelveticaNeue" selected>Helvetica Neue</option>
							   <option value="myriad pro">Myriad Pro</option>
							   <option value="delicious">Delicious</option>
							   <option value="verdana">Verdana</option>
							   <option value="georgia">Georgia</option>
							   <option value="courier">Courier</option>
							   <option value="comic sans ms">Comic Sans MS</option>
							   <option value="impact">Impact</option>
							   <option value="monaco">Monaco</option>
							   <option value="optima">Optima</option>
							   <option value="hoefler text">Hoefler Text</option>
							   <option value="plaster">Plaster</option>
							   <option value="engagement">Engagement</option>
							 </select>
							 <br>
							 <label for="text-color">Text Color:</label>
							 <input type="color" id="text-color" size="10">
							 <br>
							 <select id="text-align">
							   <option value="left">Align Left</option>
							   <option value="center">Align Center</option>
							   <option value="right">Align Right</option>
							   <option value="justify">Align Justify</option>
							 </select>
							 <br>
							 <label for="text-stroke-color">Stroke Color:</label>
							 <input type="color" id="text-stroke-color">
							 <br>
							 <label for="text-stroke-width">Stroke Width:</label>
							 <input type="number" value="1" min="1" max="5" id="text-stroke-width">
							 <br>
							 <label for="text-font-size">Font Size:</label>
							 <input type="number" min="12" max="120" step="1" id="text-font-size">
							 <br>
							 <label for="text-bg-color">Background Color:</label>
							 <input type="color" id="text-bg-color" size="10">
							 <br>
							 <input type='checkbox' name='fonttype' id="text-cmd-bold"> <b>B</b>
							 <input type='checkbox' name='fonttype' id="text-cmd-italic"> <em>I</em>
							 <br>
							 <input type='checkbox' name='fonttype' id="text-cmd-underline"> Underline
							 <br>
							 <input type='checkbox' name='fonttype' id="text-cmd-linethrough"> Linethrough
							 <br>
							 <input type='checkbox' name='fonttype' id="text-cmd-overline"> Overline
						 </div>
						 <button onclick="deleteObject();">Remove Text</button>
					   </div>
					
	
					   </div>

					   <button onclick="togglePopup()" class="first-button">Add Text</button>
					   <div>
						<input type="color" id="background-color" size="10">
							<button  id="reset-background" class="site-btn">Reset Background</button>	



							<button  onclick="togglePop()" class="first-btn">Add Image</button>	
							<div class="pop" id="pop-2">
								<div class="content">
								 <div class="close" onclick="togglePop()">
								  ×</div>
								  
							 <h2 style="color: white;">Add Image</h2> 
							  <canvas></canvas>
								 <button class="second-btn">Add Image</button>
							
								   
								  
								</div>
							   </div>
							 				
						</div>
				
					
						</div>
					</div>
				</div>
	</section>
	<!-- product section end -->


	<!-- Footer section -->

   
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>About Us</h2>
            </div>
             <p> Custom packaging can turn your brand into the total package with full customization, instant quoting, and fats turnarounds.</p>
          
          </div>
        </div>
        
       
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>Useful Links</h2>
            </div>
            <ul class="footer-list">
              <li><a href="/app/home/">Home</a></li>

              <li><a href="/app/contact/">Customer Support</a></li>
              <li><a href="/app/login/">Login</a></li>
              <li><a href="/app/about/">About us</a></li>
              <li><a href="/app/saveddesign/">Saved Design</a></li>
              <li><a href="/app/boxdesign/">Design a box</a></li>




            </ul>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>More Information</h2>
            </div>
            <ul class="footer-list">
              <li>Phone: <a href="#">079 4007 0170</a></li>
              <li>Email: <a href="#">flexpack@gmail.com</a></li>
              <li>Support: <a href="#">support@flexpack.com</a></li>
              <li>Website: <a href="#">www.flexpack.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sub-footer">
            <p>Copyright &copy; 2021 Flexpack</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

   <!-- Bootstrap core JavaScript -->
   <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>

   <!-- Additional Scripts -->
   <script src="{% static 'assets/js/custom.js'%}"></script>
   <script src="{% static 'assets/js/owl.js'%}"></script>
   <script src="{% static 'assets/js/accordions.js'%}"></script>
 
   <script src="{%static 'js/renderer.js' %}"></script>
   <script src="{%static 'js/box.js' %}"></script>

  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; 
    function clearField(t){                  
    if(! cleared[t.id]){                      
        cleared[t.id] = 1;  
        t.value='';         
        t.style.color='#fff';
        }
    }
  </script>
  <script>
	   function togglePopup() {
 document.getElementById("popup-1")
  .classList.toggle("active");
}
  </script>
  <script>
	function togglePop() {
	document.getElementById("pop-2")
	 .classList.toggle("active");
   }
   </script>

</body>
</html>