<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      function validateToken()
      {
          access_token = window.localStorage.getItem("access_token");
          if(access_token==null)
              window.location.pathname = '/app/login';
          else{
              $.ajax({
                  url: "/app/validateToken/",
                  type: "POST",
                  data: {
                      "csrfmiddlewaretoken" : "{{ csrf_token }}",
                      "access_token":access_token,
                  },
                  success: function(response) {
                      
                  },
                  error: function(xhr, a, b)
                  {
                      window.location.pathname = '/app/login';
                  }
              });
          }
              
      }
      window.onpaint = validateToken();
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{%static 'images/icons/favicon.ico'%}"/>

    <!-- Bootstrap CSS -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
     
    
    <title>FlexPack | Home Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src ="{% static 'images/logo.png' %}"></img></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="me-auto"></div>
          <div class="d-flex">
            <button type="button" class="btn m-2 btn-light">Change</button>
            <button type="button" class="btn m-2 btn-light">Change</button>
            <button type="button" class="btn m-2 btn-light">Change</button>
            <a href='/app/login/'><button type="button" class="btn m-2 btn-light">Login</button></a>
            <a href='/app/signup/'><button type="button" class="btn m-2 btn-secondary">Sign up</button></a>
          </div>
        </div>
      </div>
    </nav>
    <div
      class="container-fluid"
      style="background-color: white; min-height: 100vh"
    >
      <div class="container pt-5">
        <div class="row pt-5">
          <div class="col-3">
            <div class="row rounded shadow-lg bg-light">
              <div class="col-4 mx-2 mt-3 mb-3">
                <div class="row border-end border-1">
                  <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link active"
                        id="pills-size-tab"
                        data-bs-toggle="pill"
                        href="#pills-size"
                        role="tab"
                        aria-controls="pills-size"
                        aria-selected="true"
                        >Size</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-material-tab"
                        data-bs-toggle="pill"
                        href="#pills-material"
                        role="tab"
                        aria-controls="pills-material"
                        aria-selected="false"
                        >Material</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-addimage-tab"
                        data-bs-toggle="pill"
                        href="#pills-addimage"
                        role="tab"
                        aria-controls="pills-addimage"
                        aria-selected="false"
                        >Add Image</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-addtext-tab"
                        data-bs-toggle="pill"
                        href="#pills-addtext"
                        role="tab"
                        aria-controls="pills-addtext"
                        aria-selected="false"
                        >Add Text</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-quantity-tab"
                        data-bs-toggle="pill"
                        href="#pills-quantity"
                        role="tab"
                        aria-controls="pills-quantity"
                        aria-selected="false"
                        >Quantity</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col mt-3 mb-3">
                <div class="tab-content w-100" id="pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="pills-size"
                    role="tabpanel"
                    aria-labelledby="pills-size-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(400,400,200);"
                    >
                      4" x 4" x 2"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(600,600,200);"
                    >
                      6" x 6" x 2"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(700,600,100);"
                    >
                      7" x 6" x 1"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(800,500,300);"
                    >
                      8" x 5" x 3"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(900,600,400);"
                    >
                      9" x 6" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(900,800,200);"
                    >
                      9" x 8" x 2"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(1000,800,400);"
                    >
                      10" x 8" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(1000,800,400);"
                    >
                      10 x 8" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(1200,900,200);"
                    >
                      12" x 9" x 2"</button
                    >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(1200,800,400);"
                    >
                      12" x 8" x 4"</button
                    >
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-material"
                    role="tabpanel"
                    aria-labelledby="pills-material-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('white');"
                    >
                      White</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('dreamcoat');"
                    >
                      Dreamcoat</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('kraft');"
                    >
                      Kraft
                    </button>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-addimage"
                    role="tabpanel"
                    aria-labelledby="pills-addimage-tab"
                  >
                    <select class="form-control" id="textures">
                      <option>Top</option>
                      <option>Left</option>
                      <option>Right</option>
                      <option>Front</option>
                      <option>Back</option>
                      <option>Bottom</option>
                    </select>
                    <div id="front" style="display: none;">
                      <input 
                             id="texture-front" 
                             name="texture-front[]" 
                             type="file" 
                             class="file file-loading form-control" 
                             data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                             onchange="readURL(this,'front')">
                      
                    </div>  
                    <div id="back" style="display: none;">

                      <input id="texture-back" 
                            name="texture-side[]" 
                            type="file" 
                            class="file file-loading form-control" 
                            data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                            onchange="readURL(this,'back')">
                      
                    </div>
                    <div id="top" >

                      <input id="texture-top" 
                            name="texture-top[]" 
                            type="file" 
                            class="box-texture file file-loading form-control" 
                            data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                            onchange="readURL(this,'top')">
                        
                    </div>
                    <div id="left" style="display: none;">
                        <input 
                              id="texture-left" 
                              name="texture-side[]" 
                              type="file" 
                              class="box-texture file file-loading form-control" 
                              data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                              onchange="readURL(this,'left')">
                       
                    </div>
                    <div id="right" style="display: none;">
                        <input 
                              id="texture-right" 
                              name="texture-side[]" 
                              type="file" 
                              class="file file-loading form-control" 
                              data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                              onchange="readURL(this,'right')">
                        
                    </div>
                    <div id="bottom" style="display: none;">
                        <input 
                          id="texture-bottom"
                          name="texture-top[]" 
                          type="file" 
                          class="box-texture file file-loading form-control" 
                          data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                          onchange="readURL(this,'bottom')">
                    </div>
                  
                    
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-addtext"
                    role="tabpanel"
                    aria-labelledby="pills-addtext-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="font-family: 'Courier New', Courier, monospace"
                      onclick="setText('PACKLANE','Courier');"
                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                          Arial, sans-serif;
                      "
                      onclick="setText('PACKLANE','Franklin Gothic Medium');"
                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="font-family: 'Times New Roman', Times, serif"
                      onclick="setText('PACKLANE','Times New Roman');"
                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="font-family: Verdana, Geneva, Tahoma, sans-serif"
                      onclick="setText('PACKLANE','Verdana');"
                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="
                        font-family: Cambria, Cochin, Georgia, Times,
                          'Times New Roman', serif;
                      "
                      onclick="setText('PACKLANE','Cambria');"

                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="font-family: 'Times New Roman', Times, serif"
                      onclick="setText('PACKLANE','Times New Roman');"
                    >
                      PACKLANE
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      style="
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                          sans-serif;
                      "
                      onclick="setText('PACKLANE','Segoe UI');"

                    >
                      PACKLANE
                    </button>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-quantity"
                    role="tabpanel"
                    aria-labelledby="pills-quantity-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      >1000</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      >2000</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      2000
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      1000
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      500
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      250</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      100</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      50</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      10
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                    >
                      1
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- 
              EDIT - THE BOX VIEW STARTING FROM HERE
           -->
           <div id="canvas-container" style="border:1px solid #000000; height: 30vw; width : 30vw;"></div>
           <!-- 
              EDIT - ADD YOUR CONTROLS STARTING FROM HERE
           -->
          <div class="col-3 bg-light rounded shadow-lg">
            <p>Box width:
              <input style="width:30%; display:inline;" id="size-x" type="number" class="form-control" value="500" min="50" max="1500" step="10" onchange="renderProductBox();" >
            </p>
            <p>Box height:
                <input style="width:30%; display:inline;" id="size-y" type="number" class="form-control" value="500" min="50" max="1500" step="10" onchange="renderProductBox();" >
            </p>
            <p>Box depth:
                <input style="width:30%; display:inline;" id="size-z" type="number" class="form-control" value="500" min="50" max="1500" step="10" onchange="renderProductBox();" >
            </p>
            <p>Box Name:
                <input style="width:30%; display:inline;" id="name" type="text" value="default" class="form-control" >
            </p>
             
            <button  id="save">Save</button>
            <button  onClick="deleteObject()">Remove</button>
            <div id='c-front' style="display: none;">
              <canvas id="canvas-front"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas>
            </div>
            <div id='c-left' style="display: none;">
              <canvas id="canvas-left"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas> 
            </div>
            <div id='c-bottom' style="display: none;">
              <canvas id="canvas-bottom"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas>
            </div>
            <div id='c-right' style="display: none;">
              <canvas id="canvas-right"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas>
            </div>
            <div id='c-top' style="display: block;">
              <canvas id="canvas-top"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas>
            </div>
            <div id='c-back' style="display: none;">
              <canvas id="canvas-back"
                  width="300"
                  height="200" style="border: 2px solid green;"> 
              </canvas>
          </div>
        </div>
      </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
   
    <script>
      
      function readURL(input,side) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {

            canvas = canvases[side];
            fabric.Image.fromURL(e.target.result, function(img) {
              var oImg = img.set({
                left: 0,
                top: 0,
                angle: 0,
              }).scale(0.2);
              canvas.add(oImg).renderAll();

              var dataURL = canvas.toDataURL({
                format: 'png',
                quality: 1
              });
            });
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      function changeSize(x,y,z){
        $("#size-x").val(x)
        $("#size-y").val(y)
        $("#size-z").val(z)
        renderProductBox();
      }
      function setCamera(x, y, z)
			{
				camera.rotation.set(-0.6055446444344589, -0.8117261390954865, -0.46544821952100746);
				camera.position.set(x,y,z);
				controls.update();
			}
      
      var sides = ['front','back','left','right','bottom','top'];
      var face = {
        'front':[672, 519, 1281],
        'back':[-679, 644, -1220],
        'left':[-1323, 615, 703],
        'right':[1293, 583, -592],
        'bottom':[-54, -1532, 125],
        'top':[-250, 1498, 241],
      }
      var canvases={};
      function changeBoxTexture(texture){
        for(side of sides){
          canvases[side]=setBackgroundCanvas(side,texture);
        }
      }
      $("#textures").change(function(){
          for(side of sides){
            var value =  ($("#textures").val()).toLowerCase(); 
            if(side == value){
              $("#"+side).css('display','block');
              $("#c-"+side).css('display','block');
              setCamera(face[side][0], face[side][1], face[side][2]);
            }
            else{
              $("#"+side).css('display','none');
              $("#c-"+side).css('display','none');
            } 
          } 
      });

    </script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="{%static 'js/renderer.js' %}"></script>
    <script>
      function setBackgroundCanvas(side,texture){
        var canvas;
        if(!canvases[side])
          canvas = new fabric.Canvas("canvas-"+side);
        else  
          canvas = canvases[side];
        if(texture=='kraft'){ 
          fabric.Image.fromURL("{%static 'images/kraft.jpg' %}", function(img) {
            canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
                scaleX: canvas.width / img.width,
                scaleY: canvas.height / img.height
            });
          });
        }
        else{
          fabric.Image.fromURL("{%static 'images/gray.jpg' %}", function(img) {
            canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
                scaleX: canvas.width / img.width,
                scaleY: canvas.height / img.height
            });
          });
        }
        canvas.on("after:render", function () {
          if (box_mesh) {
            for (const material of box_mesh.material) {
              if (material.map) {
                material.map.needsUpdate = true;
              }
            }
          }
        });
        return canvas;
      }

      function setText(text,font_family){
        var value =  ($("#textures").val()).toLowerCase(); 
        canvas = canvases[value]
        var text = new fabric.Textbox(text,  
        { 
          fontFamily: font_family,
          width: 300
        });
        canvas.add(text);
      }
      
      window.deleteObject = function() {
        var value =  ($("#textures").val()).toLowerCase(); 
        canvas = canvases[value]
        canvas.remove(canvas.getActiveObject());
        canvas.renderAll(); 
      }
    
      if(window.location.pathname=='/app/boxdesign/'){
        for(side of sides){
          canvases[side]=setBackgroundCanvas(side,"kraft");
        }
        renderProductBox();
        $("#save").click(function(e){saveModelToDatabase();});
      }
      else{
        function get_uuid(){
          uuid = window.location.pathname;
          uuid = uuid.split("/")[3];
          return uuid;
        }
        var box;
        $.ajax({
          url: "/app/getbox/",
          type: "POST",
          data:{
            "csrfmiddlewaretoken" : "{{ csrf_token }}",
            "uuid":get_uuid()
          },
          async: false,
          success: function(response) {
            box = response;              
          },
          error: function(xhr, a, b)
          {
            console.log(xhr);
          }
        });

        
        for(side of sides){
          canvases[side]=new fabric.Canvas("canvas-"+side);
          canvases[side].loadFromJSON(box[side+"_texture"], canvases[side].renderAll.bind(canvases[side]), function(o, object) {
          });
          canvases[side].on("after:render", function () {
            if (box_mesh) {
              for (const material of box_mesh.material) {
                if (material.map) {
                  material.map.needsUpdate = true;
                }
              }
            }
          });
        }
        renderProductBox();
        
        
        $("#size-x").val(box.width);
	      $("#size-y").val(box.height);
        $("#size-z").val(box.depth);
        $("#name").val(box.name);
        $("#save").click(function(e){editModelToDatabase();});
      }
        
    </script>
    <style>
        .close.fileinput-remove
        {
            display: none;
        }
        .file-preview-image
        {
            max-width: 100%;
        }
        .file-caption-name
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    </style>
  </body>
</html>
