{% extends 'jwt_auth_login_register/main2.html' %}
{% load static %}
{% block content %}

    <div
      class="container-fluid"
      style="background-color: white; min-height: 100vh"
    >
      <div class="container pt-5">
        <div class="row pt-5">
          <div class="col-3">
            <div class="row rounded shadow-lg bg-light">
              <div class="col-4 mx-2 mt-3 mb-3">
                <div class="row border-end border-1">
                  <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link active"
                        id="pills-size-tab"
                        data-bs-toggle="pill"
                        href="#pills-size"
                        role="tab"
                        aria-controls="pills-size"
                        aria-selected="true"
                        >Size</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-material-tab"
                        data-bs-toggle="pill"
                        href="#pills-material"
                        role="tab"
                        aria-controls="pills-material"
                        aria-selected="false"
                        >Material</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-addimage-tab"
                        data-bs-toggle="pill"
                        href="#pills-addimage"
                        role="tab"
                        aria-controls="pills-addimage"
                        aria-selected="false"
                        >Add Image</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-addtext-tab"
                        data-bs-toggle="pill"
                        href="#pills-addtext"
                        role="tab"
                        aria-controls="pills-addtext"
                        aria-selected="false"
                        >Add Text</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-quantity-tab"
                        data-bs-toggle="pill"
                        href="#pills-quantity"
                        role="tab"
                        aria-controls="pills-quantity"
                        aria-selected="false"
                        >Quantity</a
                      >
                    </li>
                    <li class="nav-item w-100" role="presentation">
                      <a
                        class="nav-link"
                        id="pills-background-tab"
                        data-bs-toggle="pill"
                        href="#pills-background"
                        role="tab"
                        aria-controls="pills-background"
                        aria-selected="false"
                        >Add Background Color</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col mt-3 mb-3">
                <div class="tab-content w-100" id="pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="pills-size"
                    role="tabpanel"
                    aria-labelledby="pills-size-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(400,400,400);"
                    >
                      4" x 4" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(600,600,400);"
                    >
                      6" x 6" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(700,600,400);"
                    >
                      7" x 6" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(800,500,400);"
                    >
                      8" x 5" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(900,600,400);"
                    >
                      9" x 6" x 4"</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeSize(900,800,400);"
                    >
                      9" x 8" x 4"</button
                    >
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-material"
                    role="tabpanel"
                    aria-labelledby="pills-material-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('white');"
                    >
                      White</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('dreamcoat');"
                    >
                      Dreamcoat</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="changeBoxTexture('kraft');"
                    >
                      Kraft
                    </button>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-addimage"
                    role="tabpanel"
                    aria-labelledby="pills-addimage-tab"
                  >
                    <div id="front" style="display: none;">
                      <input 
                        type="file" 
                        class="form-control" 
                        data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                        onchange="readURL(this,'front')">
                    </div>  
                    <div id="back" style="display: none;">
                      <input 
                        type="file" 
                        class="form-control" 
                        data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                        onchange="readURL(this,'back')">
                    </div>
                    <div id="top" >
                      <input  
                        type="file" 
                        class="form-control" 
                        data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                        onchange="readURL(this,'top')">
                    </div>
                    <div id="left" style="display: none;">
                        <input 
                          type="file" 
                          class="form-control" 
                          data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                          onchange="readURL(this,'left')">
                    </div>
                    <div id="right" style="display: none;">
                        <input
                          type="file" 
                          class="form-control" 
                          data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                          onchange="readURL(this,'right')">
                    </div>
                    <div id="bottom" style="display: none;">
                        <input  
                          type="file" 
                          class="form-control" 
                          data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                          onchange="readURL(this,'bottom')">
                    </div>
                    <p></p>
                    <div class="contain text-center" >
                      <button type="button" class="bt btn-fit" id="fit">Fit</button>
                      <button type="button" class="bt btn-center" id="center">Center</button>
                      <button type="button" class="bt btn-cover" id="cover">Cover</button>
                   </div>
                   <div id = "file_message">

                   </div>
                   <p></p>
                   <button type="button" class="bt btn-center" onClick="deleteObject()">Remove Image</button>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-addtext"
                    role="tabpanel"
                    aria-labelledby="pills-addtext-tab"
                  >
                    <button onclick="Addtext()" title="Add text"><span class="mdi mdi-format-text"> Add Text</span></button>&emsp;
                    <p></p>
                    <div id="text-controls">
                        <select id="font-family">
                          <option value="arial">Arial</option>
                          <option value="HelveticaNeue" selected>Helvetica Neue</option>
                          <option value="myriad pro">Myriad Pro</option>
                          <option value="delicious">Delicious</option>
                          <option value="verdana">Verdana</option>
                          <option value="georgia">Georgia</option>
                          <option value="courier">Courier</option>
                          <option value="comic sans ms">Comic Sans MS</option>
                          <option value="impact">Impact</option>
                          <option value="monaco">Monaco</option>
                          <option value="optima">Optima</option>
                          <option value="hoefler text">Hoefler Text</option>
                          <option value="plaster">Plaster</option>
                          <option value="engagement">Engagement</option>
                        </select>
                        <br>
                        <label for="text-color">Text Color:</label>
                        <input type="color" id="text-color" size="10">
                        <br>
                        <select id="text-align">
                          <option value="left">Align Left</option>
                          <option value="center">Align Center</option>
                          <option value="right">Align Right</option>
                          <option value="justify">Align Justify</option>
                        </select>
                        <br>
                        <label for="text-stroke-color">Stroke Color:</label>
                        <input type="color" id="text-stroke-color">
                        <br>
                        <label for="text-stroke-width">Stroke Width:</label>
                        <input type="number" value="1" min="1" max="5" id="text-stroke-width">
                        <br>
                        <label for="text-font-size">Font Size:</label>
                        <input type="number" min="12" max="120" step="1" id="text-font-size">
                        <br>
                        <label for="text-bg-color">Background Color:</label>
                        <input type="color" id="text-bg-color" size="10">
                        <br>
                        <input type='checkbox' name='fonttype' id="text-cmd-bold"> <b>B</b>
                        <input type='checkbox' name='fonttype' id="text-cmd-italic"> <em>I</em>
                        <br>
                        <input type='checkbox' name='fonttype' id="text-cmd-underline"> Underline
                        <br>
                        <input type='checkbox' name='fonttype' id="text-cmd-linethrough"> Linethrough
                        <br>
                        <input type='checkbox' name='fonttype' id="text-cmd-overline"> Overline
                    </div>
                    <button  onclick="deleteObject();">Remove Text</button>
                  </div>
                  
                  <div
                  class="tab-pane fade"
                  id="pills-quantity"
                  role="tabpanel"
                  aria-labelledby="pills-quantity-tab"
                  >
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(2000);"
                    >
                      2000
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(1000);"
                    >
                      1000
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(500);"

                    >
                      500
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(250);"
                    >
                      250</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(100);"
                    >
                      100</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(50);"
                    >
                      50</button
                    ><button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(10);"
                    >
                      10
                    </button>
                    <button
                      class="btn mb-1 btn-light btn-outline-secondary w-100"
                      type="button"
                      onclick="setQuantity(1);"
                    >
                      1
                    </button>
                </div>
                <div
                    class="tab-pane fade"
                    id="pills-background"
                    role="tabpanel"
                    aria-labelledby="pills-background-tab"
                  >
                    <input type="color" id="background-color" size="10">
                    <button  id="reset-background">Reset Background</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id='c-front' style="display: none;">
            <canvas id="canvas-front"
                width="300"
                height="200" style="border: 2px solid green;"> 
            </canvas>
          </div>
          <div id='c-left' style="display: none;">
            <canvas id="canvas-left" style="border: 2px solid green;"> 
            </canvas> 
          </div>
          <div id='c-bottom' style="display: none;">
            <canvas id="canvas-bottom"
                width="300"
                height="200" style="border: 2px solid green;"> 
            </canvas>
          </div>
          <div id='c-right' style="display: none;">
            <canvas id="canvas-right"
                width="300"
                height="200" style="border: 2px solid green;"> 
            </canvas>
          </div>
          <div id='c-top' style="display: block;">
            <canvas id="canvas-top"
                width="300"
                height="200" style="border: 2px solid green;"> 
            </canvas>
          </div>
          <div id='c-back' style="display: none;">
            <canvas id="canvas-back"
                width="300"
                height="200" style="border: 2px solid green;"> 
            </canvas>
        </div>
          
          <!-- 
              EDIT - THE BOX VIEW STARTING FROM HERE
           -->
           <div style="position:absolute; top:200px; left:490px; z-index:3 ">
            <select class="form-control"  style="width:30vw" id="textures"> 
              <option>Top</option>
              <option>Left</option>
              <option>Right</option>
              <option>Front</option>
              <option>Back</option>
              <option>Bottom</option>
            </select>
           </div> 
           <div id="canvas-container" style="border:1px solid;position:absolute; top:250px; left:500px; z-index:3 #000000; height: 30vw; width : 30vw;" class="canvas-contianer transparent-background"></div>
           <!-- 
              EDIT - ADD YOUR CONTROLS STARTING FROM HERE
           -->
          <div class="col-3 bg-light rounded shadow-lg" style="position:absolute; top:200px; left:1000px; z-index:3">
            <p>Box width:
              <input 
                style="width:30%; display:inline;" 
                id="size-x" 
                type="number" 
                class="form-control" 
                value="500" 
                min="400" 
                max="900" 
                step="10" >
            </p>
            <p>Box height:
                <input 
                  style="width:30%; display:inline;" 
                  id="size-y" 
                  type="number" 
                  class="form-control" 
                  value="500" 
                  min="400" 
                  max="900" 
                  step="10" >
            </p>
            <p>Box depth:
                <input 
                  style="width:30%; display:inline;" 
                  id="size-z" 
                  type="number" 
                  class="form-control" 
                  value="500" 
                  min="400" 
                  max="900" 
                  step="10" >
            </p>
            <p>Box Name:
                <input style="width:30%; display:inline;" id="name" type="text" value="default" class="form-control">
            </p>
            <p>
              <div id="message"></div>
              <button  id="update_size">Update Size</button> 
              <button  id="save">Save</button>
            </p>
            <p>Quantity:
              <input style="width:30%; display:inline;" id="quantity" type="number" value="250" class="form-control" >
            </p>
            <p>Unit Price:
              <span id="unit_price"></span>
            </p>
            <p>Subtotal:
              <span id="subtotal"></span>
            </p>
            <button  id="checkout">Checkout</button>
        </div>
      </div>
    </div>
    
   {% endblock content %}