<!DOCTYPE html>

<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body></body>

    <script type="text/javascript">
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const code = urlParams.get('code');
    
        window.localStorage.setItem("access_token", "{{ access_token }}");
		window.localStorage.setItem("refresh_token", "{{ refresh_token }}");
		window.location.replace("http://127.0.0.1:8000/app/saveddesign");
    </script>

</html>