<!DOCTYPE html>
{% load static %}
<html lang="en">
	
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Flexpack-Checkout</title>

    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">

  </head>
  <style>
    
.box-element{
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
background-color: #fff;
border-radius: 4px;
padding: 10px;
}
.profile-pic{
	max-width:200px;
	/*max-heigth:200px;*/
	margin:0 auto;
	border-radius:50%;
}
/*.submit{
   margin-radius:100px;
}*/
.thumbnail{
width: 450px;
height: 350px;
-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
-moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
border-radius: 0 0 4px 4px;
}

.bg-dark{
background-color: #4f868c!important;
}

#cart-icon{
width:25px;
display: inline-block;
margin-left: 15px;
}

#cart-total{
display: block;
text-align: center;
color:#fff;
background-color: red;
width: 20px;
height: 25px;
border-radius: 50%;
font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
margin-top: 10px;
}

.btn{
border-radius: 0;
}

.row-image{
width: 80px;
}

.form-field{
width:250px;
display: inline-block;
padding: 5px;
}

.cart-row{
display: flex;
align-items: flex-stretch;
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px solid #ececec;

}

.quantity{
display: inline-block;
font-weight: 700;
padding-right:10px;


}

.chg-quantity{
width: 10px;

cursor: pointer;
display: block;
margin-top: 10px;
transition:.1s;
}

.chg-quantity:hover{
opacity: .6;
}


.hidden{
display: none!important;
}
</style>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><h2>FlexPack<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/home/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/about/">About Us</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/app/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/boxdesign/">Design a box</a>
            </li>
            <li class="nav-item" id="saved_design">
              <a class="nav-link" href="/app/saveddesign/">Saved Design</a>
            </li>
			<li class="nav-item" id="profile">
                <a class="nav-link" href="/app/profile/">Profile</a>
              </li>
			  <li class="nav-item" id="orders">
                <a class="nav-link" href="/app/orders/">Orders</a>
              </li>
          </ul>
        </div>
        <div class="functional-buttons" id="login">
          <ul>
            <li><a href="/app/login/">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="signup">
          <ul>
            <li><a href="/app/signup/">Sign Up</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="logout">
          <ul>
            <li><a href="/app/logout/">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <h1>Checkout</h1>
			  <p><a href="/app/home/">Home</a> / <span>Checkout</span></p>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- Heading Ends Here -->
	  <br><br>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				
				<div id="message" align="center" style="color:red"></div>
				<div id="user-info" >
						<div class="form-field">
							<input required class="form-control" type="text" id="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" id="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" id="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" id="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" id="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" id="zipcode" placeholder="Zip code..">
						</div>
						<br>
						<button id="form-button" class="btn btn-success btn-block" type="button">Continue</button>
					</div>

					<hr>
					<div class="box-element hidden" id="payment-info">
						<small>Payment Options</small>
						<div id="paypal-button-container"></div>
						<button id="cod" >Cash on Delivery</button>
					</div>
				
			</div>
			<br>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<hr>
				<h3>Order Summary</h3>
				<hr>
			
				<div class="cart-row">
					<div style="flex:2" id="preview_image"></div>
					<div style="flex:2" id = "box_type"><p></p></div>
					<div style="flex:1" id="unit_price"><p></p></div>
					<div style="flex:1" id="quantity"><p></p></div>
				</div>
				

				<h5 id="total_quantity"></h5>
				<h5 id="total_price"></h5>
			</div>
		</div>
	</div>
	<script src="https://www.paypal.com/sdk/js?client-id=ARkb2ph9XxFlhEIuDgKMWjcx5tHDavQMFEVVcO5gTpJMM1ax91S9ag1yaAaDTKfkX1not5UERBSS-rWy&currency=INR&disable-funding=card"></script>
	
	<script>
		$("#form-button").click(function(e){
			if($("#name").val().trim()=="" || $("#email").val().trim()=="" || $("#address").val().trim()=="" || $("#city").val().trim()=="" || $("#state").val().trim()=="" || $("#zipcode").val().trim()==""){
				$("#message").html("all the field are required");
			}
			else{
				$("#message").html("");
				document.getElementById('form-button').classList.add("hidden");
	    		document.getElementById('payment-info').classList.remove("hidden");
				document.getElementById('name').readOnly = true;
				document.getElementById('email').readOnly = true;
				document.getElementById('address').readOnly = true;
				document.getElementById('city').readOnly = true;
				document.getElementById('state').readOnly = true;
				document.getElementById('zipcode').readOnly = true;
			}
		});
		var access_token = window.localStorage.getItem("access_token");
		function get_uuid(){
    		uuid = window.location.pathname;
    		uuid = uuid.split("/")[3];
    		return uuid;
  		}
		$.ajax({
			"url":'/app/getpurchasedetail/',
			"method":"POST",
			headers: {
				"Authorization": access_token,
			},
			"data":{
				"uuid":get_uuid()
			},
			success:function(response){
				$("#unit_price").html("Rs. "+response.unit_price);
				$("#quantity").html("x"+response.quantity);
				$("#total_quantity").html("Items: "+response.quantity);
				$("#total_price").html("Rs. "+response.quantity * response.unit_price);
				var total = response.quantity * response.unit_price;
				
				$.ajax({
					url: "/app/getbox/",
					type: "POST",
					headers: {
						"Authorization": access_token,
					},
					data:{
						"csrfmiddlewaretoken" : "{{ csrf_token }}",
						"uuid":response.box
					},
					success: function(response) {
						box = response;
						$("#preview_image").html("<img src="+box.preview_image+" height=250vw width=250vw>")
						$("#box_type").html("Shipping Box - "+box.width+" x "+box.height+" x "+box.depth);
						$.ajax({
							"url":"/app/getuserdetails/",
							"method":"POST",
							headers: {
								"Authorization": access_token,
							},
							"data":{
								uuid : box.user
							},
							success:function(response){
								$("#name").val(response.username);
								$("#email").val(response.email);
								
								$("#cod").click(function(){
									$.ajax({
										url:"/app/makeorder/",
										type:"POST",
										headers: {
											"Authorization": access_token,
										},
										data:{
											"csrfmiddlewaretoken" : "{{ csrf_token }}",
											"purchase":get_uuid(),
											"address":$("#address").val(),
											"state":$("#state").val(),
											"city":$("#city").val(),
											"zip_code":parseInt($("#zipcode").val()),
											"status":"pending",
											"user":response.id
										},
										success: function(response){
											alert('Transaction completed');
											window.location.pathname = "/app/saveddesign/"
										},
										error:function(xhr,a,b){
											console.log(xhr);
										}
									});
								});
								paypal.Buttons({
									style:{
										color:'blue',
										shape:'rect',
									},
									createOrder: function(data, actions) {
										console.log(data);
										return actions.order.create({
											purchase_units: [{
												amount: {
													value: parseFloat(total).toFixed(2),
												}
											}]
										});
									},

									onApprove: function(data, actions) {
										return actions.order.capture().then(function(details) {
											alert('Transaction completed');
											$.ajax({
												url:"/app/makeorder/",
												type:"POST",
												headers: {
													"Authorization": access_token,
												},
												data:{
													"csrfmiddlewaretoken" : "{{ csrf_token }}",
													"purchase":get_uuid(),
													"address":$("#address").val(),
													"state":$("#state").val(),
													"city":$("#city").val(),
													"zip_code":parseInt($("#zipcode").val()),
													"status":"pending",
													"user":response.id
												},
												success: function(response){
													window.location.pathname = "/app/saveddesign/"
												},
												error:function(xhr,a,b){
													console.log(xhr);
												}
											});

										});
									}
								}).render('#paypal-button-container');
							},
							error:function(xhr,a,b){
								console.log(xhr);
							}
						});              
					},
					error: function(xhr, a, b){
					console.log(xhr);
					}
				});
			},
			error:function(xhr,a,b){
				console.log(xhr);
			}
		});
		
	</script>
	          
 <!--Footer starts here-->
 <br>
 <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>About Us</h2>
            </div>
               <p> Custom packaging can turn your brand into the total package with full customization, instant quoting, and fats turnarounds.</p>
          
          </div>
        </div>
        
       
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>Useful Links</h2>
            </div>
            <ul class="footer-list">
              <li><a href="/app/home/">Home</a></li>

              <li><a href="/app/contact/">Customer Support</a></li>
              <li><a href="/app/login/">Login</a></li>
              <li><a href="/app/about/">About us</a></li>
              <li><a href="/app/saveddesign/">Saved Design</a></li>
              <li><a href="/app/boxdesign/">Design a box</a></li>




            </ul>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>More Information</h2>
            </div>
            <ul class="footer-list">
              <li>Phone: <a href="#">079 4007 0170</a></li>
              <li>Email: <a href="#">flexpack@gmail.com</a></li>
              <li>Support: <a href="#">support@flexpack.com</a></li>
              <li>Website: <a href="#">www.flexpack.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sub-footer">
            <p>Copyright &copy; 2021 Flexpack</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

   <!-- Bootstrap core JavaScript -->
   <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>

   <!-- Additional Scripts -->
   <script src="{% static 'assets/js/custom.js'%}"></script>
   <script src="{% static 'assets/js/owl.js'%}"></script>
   <script src="{% static 'assets/js/accordions.js'%}"></script>
   <script src="{%static 'js/validate2.js' %}"></script>
  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; 
    function clearField(t){                  
    if(! cleared[t.id]){                      
        cleared[t.id] = 1;  
        t.value='';         
        t.style.color='#fff';
        }
    }
  </script>


    </body>
</html>