<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Flexpack</title>

    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">

  </head>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><h2>FlexPack<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/home/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/about/">About Us</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/app/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/boxdesign/">Design a box</a>
            </li>
            <li class="nav-item" id="saved_design">
              <a class="nav-link" href="/app/saveddesign/">Saved Design</a>
            </li>
           
          </ul>
        </div>
        <div class="functional-buttons" id="login">
          <ul>
            <li><a href="/app/login/">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="signup">
          <ul>
            <li><a href="/app/signup/">Sign Up</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="logout">
          <ul>
            <li><a href="/app/logout/">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Contact Us</h1>
            <p><a href="/app/home/">Home</a> / <span>Contact Us</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- Contact Us Starts Here -->
    <div class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-form">
              <!--<form id="contact" action="" method="post">-->
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Your name" required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" id="email" placeholder="Your email" required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Subject">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              <!--</form>-->
          </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <span>Contact Us</span>
                <h2>Let's keep in touch</h2>
                <p></p>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li><i class="fa fa-phone"></i>079 4007 0170 </li>
                    <li><i class="fa fa-support"></i> flexpack@flex.com</li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li><i class="fa fa-envelope"></i>flexpack@gmail.com</li>
                    <li><i class="fa fa-globe"></i> www.flexpack.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Contact Us Ends Here -->

   <!--Footer starts here-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
             	<p> Custom packaging can turn your brand into the total package with full customization, instant quoting, and fats turnarounds.</p>
            
            </div>
          </div>
          
         
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Useful Links</h2>
              </div>
              <ul class="footer-list">
                <li><a href="/app/home/">Home</a></li>

                <li><a href="/app/contact/">Customer Support</a></li>
                <li><a href="/app/login/">Login</a></li>
                <li><a href="/app/about/">About us</a></li>
                <li><a href="/app/saveddesign/">Saved Design</a></li>
                <li><a href="/app/boxdesign/">Design a box</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">079 4007 0170</a></li>
                <li>Email: <a href="#">flexpack@gmail.com</a></li>
                <li>Support: <a href="#">support@flexpack.com</a></li>
                <li>Website: <a href="#">www.flexpack.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Flexpack</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

     <!-- Bootstrap core JavaScript -->
     <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>
 
     <!-- Additional Scripts -->
     <script src="{% static 'assets/js/custom.js'%}"></script>
     <script src="{% static 'assets/js/owl.js'%}"></script>
     <script src="{% static 'assets/js/accordions.js'%}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                  
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
      
    </script>
    <script>
      $("#form-submit").on('click',
        function(){
          $.ajax({
            url:"/app/mail/",
            type: 'POST',
            data:{
              "email" : $("#email").val(),
              "subject":$("#subject").val(),
              "message":$("#message").val(),
              "name":$("#name").val(),
              "csrfmiddlewaretoken" : "{{ csrf_token }}",
            },
            success:function(response){
              //console.log(response);
            },
            error:function(xhr,a,b){
              console.log(xhr);
            }
          });
        }
      );
    </script>
    <script src="{%static 'js/validate2.js' %}"></script>

  </body>
</html>