{% extends 'jwt_auth_login_register/main2.html' %}
{% block content %}

<br>
<script>
	var access_token = window.localStorage.getItem("access_token");
	$.ajax({
		url:"/app/check_role/",
		type:"GET",
		headers: {
			"Authorization": access_token,
		},
		success:function(response){

		},
		error:function(xhr,a,b){
			window.location.pathname = '/app/saveddesign/';
		}

	});
</script>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5 id="name">Customer: </h5>
			<hr>
			<!--<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>-->
			<a class="btn btn-outline-danger  btn-sm btn-block" id="delete_customer">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p id="email"></p>
			<!--<p>Phone: </p>-->
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px" id="total_order"></h1>
		</div>
	</div>
</div>


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm" id="order_table">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Address</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				
			</table>
		</div>
	</div>
</div>

<script>
	var access_token = window.localStorage.getItem("access_token");
	function get_uuid(){
    	uuid = window.location.pathname;
    	uuid = uuid.split("/")[3];
    	return uuid;
 	}
	$("#delete_customer").click(function(e){
		$.ajax({ 
			url: "/app/delete_user/",
            type: "DELETE",
            headers: {
                "Authorization": access_token,
            },
            data:{
				"csrfmiddlewaretoken" : "{{ csrf_token }}",
                "uuid":get_uuid(),
            },
            success: function(response) {
				window.location.pathname = "/app/admin/"

            },
            error: function(xhr, a, b){
                console.log(xhr);
            }
        });
	});
	$.ajax({
		"url":"/app/getuserdetails/",
		"method":"POST",
		headers: {
			"Authorization": access_token,
		},
		"data":{
			uuid : get_uuid()
		},
		success:function(response){
			$("#email").html("Email: "+response.email);
		},
		error:function(xhr,a,b){
			console.log(xhr);
		}
	});
	$.ajax({
		url:"/app/get_orders/",
		type:"POST",
		headers: {
			"Authorization": access_token,
		},
		data:{
			"csrfmiddlewaretoken" : "{{ csrf_token }}",
			"uuid":get_uuid(),
		},
		success:function(response){
			var orders = response;
			$("#total_order").html(orders.length);
			for(order of orders)
				$("#order_table").append("<tr> \
					<td>"+order['purchase']['box']+"</td>\
					<td>"+order['date']+"</td>\
					<td>"+order['address']+", "+order['city']+", "+order['state']+"- "+order['zip_code']+"</td>\
					<td>"+order['status']+"</td>\
					<td><a class='btn btn-sm btn-info' href='/app/updateorder/"+order['id']+"/'>Update</a></td>\
					<td class='order' ><a class='btn btn-sm btn-danger' href='#'>Delete</a></td>\
					</tr>");

			function get_uuid(s){
				uuid = s.split("/")[5];
                return uuid;
            }

			var closebtns = document.getElementsByClassName("order");
            for (var i = 0; i < closebtns.length; i++) {
                closebtns[i].addEventListener("click", function() {
                 	this.parentElement.style.display = 'none';
                 	uuid = get_uuid(this.parentElement.children[3].children[0].href);
                 	$.ajax({ 
						url: "/app/deleteorder/",
                        type: "DELETE",
                        headers: {
                            "Authorization": access_token,
                        },
                        data:{
							"csrfmiddlewaretoken" : "{{ csrf_token }}",
                            "uuid":uuid,
                        },
                        success: function(response) {
							var total_order = parseInt($("#total_order").html());
							total_order = total_order - 1;
							$("#total_order").html(total_order);
                        },
                        error: function(xhr, a, b){
                            console.log(xhr);
                        }
                    });
                });           
            }
		}
	});
</script>

{% endblock content %}