<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
	  
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{%static 'js/validate.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Flexpack-Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">

<style>
.body{
	background-color: #ebeff5;
}


.total-orders{
	background-color: #4cb4c7;
}


.orders-delivered{
	background-color: #7abecc;
}

.orders-pending{
	background-color: #7CD1C0;
}

</style>
	</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><h1>FlexPack<em>.</em></h1></a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon"></span>
		 </button>
		 <div class="collapse navbar-collapse" id="navbarNav">
		   <ul class="navbar-nav">
			 <li class="nav-item active">
			   <a class="nav-link" href="/app/admin/">Dashboard</a>
			 </li>
			 
		   </ul>
		 </div>
		  
		   <span><a class="hello-msg" href="/app/logout/">Logout</a> </span>
	   </nav>
	   <div class="container-fluid">

<script>
	var access_token = window.localStorage.getItem("access_token");
	$.ajax({
		url:"/app/check_role/",
		type:"GET",
		headers: {
			"Authorization": access_token,
		},
		success:function(response){

		},
		error:function(xhr,a,b){
			window.location.pathname = '/app/saveddesign/';
		}

	});
</script>

<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<h3>Update Order</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<label>Status:</label>
				<select class = "form-control" id="order_status"> 
					<option>pending</option>
					<option>out for deliver</option>
					<option>delivered</option>
				</select>
			<hr>
			<input type="submit" class="btn btn-info" id="submit">
		</div>
	</div>
</div>
<script>
	$.ajax({
			url:"/app/get_order/",
			type:"POST",
			headers: {
				"Authorization": access_token,
			},
			data:{
				"csrfmiddlewaretoken" : "{{ csrf_token }}",
				"uuid":get_uuid(),
			},
			success:function(response){
				order  = response;
				$("#order_status").val(order.status);
				
			},
			error:function(xhr,a,b){
				console.log(xhr);
			}
		});
	var access_token = window.localStorage.getItem("access_token");
	function get_uuid(){
    	uuid = window.location.pathname;
    	uuid = uuid.split("/")[3];
    	return uuid;
 	}
	$("#submit").click(function(e){
		$.ajax({
			url:"/app/get_order/",
			type:"POST",
			headers: {
				"Authorization": access_token,
			},
			data:{
				"csrfmiddlewaretoken" : "{{ csrf_token }}",
				"uuid":get_uuid(),
			},
			success:function(response){
				order  = response;
				$.ajax({
					url:"/app/update_order/",
					type:"PUT",
					headers: {
						"Authorization": access_token,
					},
					data:{
						"csrfmiddlewaretoken" : "{{ csrf_token }}",
						"uuid":get_uuid(),
						"purchase":order.purchase,
						"city":order.city,
						"state":order.state,
						"address":order.address,
						"zip_code":order.zip_code,
						"status":$("#order_status").val(),
						"user":order.user
					},
					success:function(response){
						window.location.pathname = '/app/admin/';
					},
					error:function(xhr,a,b){
						console.log(xhr);
					}
				});
				
			},
			error:function(xhr,a,b){
				console.log(xhr);
			}

		})
		
	});
	
</script>
<!-- Bootstrap core JavaScript -->
 <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>
 <script
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
 crossorigin="anonymous"
></script>

 <!-- Additional Scripts -->
 <script src="{% static 'assets/js/custom.js'%}"></script>
 <script src="{% static 'assets/js/owl.js'%}"></script>
 <script src="{% static 'assets/js/accordions.js'%}"></script>


<script language = "text/Javascript"> 
  cleared[0] = cleared[1] = cleared[2] = 0; 
  function clearField(t){                   
  if(! cleared[t.id]){                      
	  cleared[t.id] = 1;  
	  t.value='';         
	  t.style.color='#fff';
	  }
  }
</script>
<script>
	var access_token = window.localStorage.getItem("access_token");
	$.ajax({
		url:"/app/check_role/",
		type:"GET",
		headers: {
			"Authorization": access_token,
		},
		success:function(response){

		},
		error:function(xhr,a,b){
			window.location.pathname = '/app/saveddesign/';
		}

	});
</script>

	</body>
  </html>
  