<html>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
            }
        </style>
    </head>
    <body>
        Dear <b>{{name}}</b>,<br><br>
        Your order will be delivered soon at the given address. Order Details are as below: 
        <table>
            <tr>
               <td>Product</td>
               <td>{{product}}</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>{{quantity}}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{price}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{city}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{state}}</td>
            </tr>
            <tr>
                <td>Zip Code</td>
                <td>{{zip_code}}</td>
            </tr>

        </table>
        <br>Have a great day!
        
        <br><br>
        Thanks and Regards,<br>
        FlexPack Team
    </body>
</html>