<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon.jpg' %}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <script src="{%static 'js/validate.js' %}"></script>

    <title>Flexpack-Profile</title>

    <link href="{%static 'vendor/bootstrap/css/bootstrap.min1.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-host-cloud.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">
    

  </head>
  <style>
    .cart-row{
display: flex;
align-items: flex-stretch;
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px solid #ececec;

}
.box-element{
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
background-color: #fff;
border-radius: 4px;
padding: 10px;
}
       .profile-pic{
        max-width:200px;
        max-height: 200px;
        margin:0 auto;
        border-radius:50%;
    }
  </style>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"><h2>FlexPack<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/home/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/about/">About Us</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/app/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app/boxdesign/">Design a box</a>
            </li>
            <li class="nav-item" id="saved_design">
              <a class="nav-link" href="/app/saveddesign/">Saved Design</a>
            </li>
            <li class="nav-item" id="profile">
                <a class="nav-link" href="/app/profile/">Profile</a>
              </li>
              <li class="nav-item" id="orders">
                <a class="nav-link" href="/app/orders/">Orders</a>
              </li>
           
          </ul>
        </div>
        <div class="functional-buttons" id="login">
          <ul>
            <li><a href="/app/login/">Log In</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="signup">
          <ul>
            <li><a href="/app/signup/">Sign Up</a></li>
          </ul>
        </div>
        <div class="functional-buttons" id="logout">
          <ul>
            <li><a href="/app/logout/">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Profile</h1>
            <p><a href="/app/home/">Home</a> / <span>Profile</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->
    <br>

        <!----profile----->
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <a class="hello-msg" href="/app/home/">&#8592 Back</a>
                    <h3 style="text-align:center">Profile</h3>
                    <hr>
                    <img class="profile-pic" src="" id="profile_pic">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                  <h2>Profile</h2>
                  <p>
                    Username:
                    <span id="username"></span>
                  </p>
                  <p>
                    Name:
                    <span id="name"></span>
                  </p>
                  <p>
                    Email:
                    <span id="email"></span>
                  </p>
                  <p>
                    Chang Profile Pic: 
                    <input 
                      type="file" 
                      class="form-control" 
                      data-allowed-file-extensions='["bmp", "gif", "jpg", "jpeg", "png"]' 
                      onchange="readURL(this)"
                      id="pic">
                  </p>
                  <button  class="btn btn-primary" type="submit" name="Update Information" id="submit">Submit</button>

                  <div id = "file_message">

                  </div>
                </div>
            </div>
			</div>
		</div>
	</div>
        </div>
    </div>
</div>
         
 <!--Footer starts here-->
 <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>About Us</h2>
            </div>
               <p> Custom packaging can turn your brand into the total package with full customization, instant quoting, and fats turnarounds.</p>
          
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>Useful Links</h2>
            </div>
            <ul class="footer-list">
              <li><a href="/app/home/">Home</a></li>
  
              <li><a href="/app/contact/">Customer Support</a></li>
              <li><a href="/app/login/">Login</a></li>
              <li><a href="/app/about/">About us</a></li>
              <li><a href="/app/saveddesign/">Saved Design</a></li>
              <li><a href="/app/boxdesign/">Design a box</a></li>

  
            </ul>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>More Information</h2>
            </div>
            <ul class="footer-list">
              <li>Phone: <a href="#">079 4007 0170</a></li>
              <li>Email: <a href="#">flexpack@gmail.com</a></li>
              <li>Support: <a href="#">support@flexpack.com</a></li>
              <li>Website: <a href="#">www.flexpack.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sub-footer">
            <p>Copyright &copy; 2021 Flexpack</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
   <!-- Bootstrap core JavaScript -->
   <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap1.bundle.min.js'%}"></script>
  
   <!-- Additional Scripts -->
   <script src="{% static 'assets/js/custom.js'%}"></script>
   <script src="{% static 'assets/js/owl.js'%}"></script>
   <script src="{% static 'assets/js/accordions.js'%}"></script>
  
  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; 
    function clearField(t){                  
    if(! cleared[t.id]){                      
        cleared[t.id] = 1;  
        t.value='';         
        t.style.color='#fff';
      }
    }
  </script>
  <script>
    var access_token = window.localStorage.getItem("access_token");
    $.ajax({
      url:"/app/get_user_detail_from_token/",
      type:"GET",
      "headers": {
        "Authorization": access_token,
      },

      success:function(response){
        var user = response
        $("#name").html(user.first_name+" "+user.last_name);
        $("#email").html(user.email);
        $("#username").html(user.username);
        $("#profile_pic").attr("src",user.profile_pic);
      },

      error:function(xhr,a,b){
        console.log(xhr);
      }
    });
    function readURL(input) {
      if (input.files && input.files[0]) {
        var size  = input.files[0].size;
        var max_size = 256000;
        if(size>max_size){
          $("#file_message").html("file size exceeds 250KB");
        }
        else{
          $("#file_message").html("");
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#profile_pic").attr("src",e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#submit").click(function(){
        var form = new FormData();
        var file    = document.querySelector('input[type=file]').files[0];
        form.append("profile_pic",file);
        $.ajax({
          url:"/app/update_profile_pic/",
          "method": "PATCH",
          "timeout": 0,
          "headers": {
            "Authorization": access_token,
          },
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          data:form,
          success:function(response){
            window.location.pathname = "/app/home/";
          },
          error:function(xhr,a,b){
            console.log(xhr);
          }
        });
      });
    }
  </script>
  <script src="{%static 'js/validate2.js' %}"></script>
  </body>
</html>

